nav.navbar.navbar-expand-lg.navbar-light.fixed-top(ref='mainNav')
    dynamic-component.navbar-brand(
        v-bind:component_infos='brand_section'
    )
    button.btn.navbar-toggler(
        type='button' 
        data-toggle='collapse' 
        v-bind:data-target='"#" + navigationBarId' 
        v-bind:aria-controls='navigationBarId' 
        aria-expanded='false' 
        aria-label='Toggle navigation'
    )
        | Menu
        i.fas.fa-bars
    .menu.collapse.navbar-collapse(v-bind:id='navigationBarId')
        ul.navbar-nav
            dynamic-component.navbar-brand(
                v-for= 'link_section in link_sections'
                v-bind:component_infos='link_section'
            )
            button.btn {{ button_title }}
